<%- include ('./partials/header') %>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>
  <script type="text/javascript">
    (function () {
      emailjs.init("user_vXd0OQsTJ65lIZZg2X4VF");
    })();
  </script>

  <script>
    function emailJS() {
     
      
      emailjs.send("service_t7tmc49", "template_019lgjr", {
        from_name: "FairElect ",
        message: document.getElementById("desc").value+"Ät location"+document.querySelector('#map-link').textContent, 
        reply_to: "faizamu19@gmail.com",
      });
      // console.log(typeof(email));
    }
    function geoFindMe() {
      const status = document.querySelector('#status');
      const mapLink = document.querySelector('#map-link');
      mapLink.href = '';
      mapLink.textContent = '';
      function success(position) {
        const latitude = position.coords.latitude;
        const longitude = position.coords.longitude;
        status.textContent = '';
        mapLink.textContent = `Latitude: ${latitude} °, Longitude: ${longitude} °`;
        document.getElementById("coordinates").value =[latitude,longitude]; 
      }
      function error() {
        status.textContent = 'Unable to retrieve your location';
      }
      if (!navigator.geolocation) {
        status.textContent = 'Geolocation is not supported by your browser';
      } else {
        status.textContent = 'Locating…';
        navigator.geolocation.getCurrentPosition(success, error);
      }
    }
  </script>


  <div class="w3-row-padding" style="margin-top:7rem;">
    <div class="w3-col m12">
      <div class="w3-card w3-round w3-white">
        <div class="w3-container w3-padding">
          <!-- <form action="/images" method="POST" enctype="multipart/form-data"> 
              <div> 
				<label for="name"><b style="color:red">Post Heading</b></label> 
				<input type="text" id="name" placeholder="Post here" value="" name="name" required style="margin-left:20px"> 
			</div> 
			<div> 
				<label for="desc"><b style="color:red">Write something About</b></label> 
				<br>
				<textarea id="desc" name="desc" value="" rows="4" cols="90" placeholder="Write something here..." required> 
					
				</textarea> 
				<br>
			</div> 
			<div> <span><label for="image"><b style="color:red">Add Image</b></label> 
				<input type="file" id="image" name="image" value="" required> </span>
				
			</div>
				 <div style="margin-left:300px">
					  <button type="submit" class="w3-button w3-theme"><i class="fa fa-pencil"></i>  Post</button> 
				 </div>
             
				</form> -->
			<div>

</div>
          <form action="/images" method="POST" enctype="multipart/form-data" class="row g-3">
            <div class="col-md-6">
              <label for="email" class="form-label" required>Email</label>
              <input type="text" class="form-control" id="email" name="email" required>
            </div>
            <div class="col-md-6">
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control" id="name" name="name" required>
            </div>
			  <div class="col-md-6">
            <label for="epicno" class="form-label" >Epic Number</label>
            <input type="number" class="form-control" id="epicno" name="epicno"  required>
          </div>
            <div class="col-md-6">
              <label for="desc" class="form-label">Describe incident</label>

              <textarea name="desc" id="desc" value="" rows="4" cols="75"
                placeholder="Describe about booth capturing or other mishappening" required>
			   </textarea>

            </div>
            <div class="col-md-6"> <span><label for="image">Add Image</label>
                <input type="file" id="image" name="image" value="" required> </span>
            </div>
            <div class="col-6"><label>Give Location Access to Election Commission</label>
              <button id="find-me" class="btn btn-primary" onclick="geoFindMe()">Show my location</button><br />
              <p id="status"></p>
              <a id="map-link" target="_blank"></a>
            </div>
            <div class="col-md-6" style="display:none;">
              <label for="coordinates" class="form-label">Coordinates</label>
              <input type="text" class="form-control" id="coordinates" name="coordinates" value="">
            </div>

            <div class="col-md-6">
              <label for="city" class="form-label">City</label>
              <input type="text" class="form-control" id="city"  name="city" required>
            </div>
            <div class="col-md-4">
              <label for="state" class="form-label">State</label>
              <input type="text" class="form-control" id="state"  name="state" required>
            </div>
            <div class="col-md-2">
              <label for="pincode" class="form-label">PinCode</label>
              <input type="number" class="form-control" id="pincode" name="pincode" required >
            </div>
            <div class="col-6">
              <button type="submit" class="btn btn-primary" style="margin-top:2rem;">Sumbit to Record</button>
            </div>
            <div class="col-6">
              <button class="btn btn-primary" style="margin-top:2rem;" onclick="emailJS()">Sumbit To Election Commission</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>




  <%- include ('./partials/footer') %>